@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Update name for <em>@Model.GetName()</em></h2>
<form action="/venue/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="venue-id" type="hidden" value="@Model.GetId()">
  <label for="new-venue-name">New Name: </label>
  <input id="new-venue-name" name="new-venue-name" type="text">
  <button type="submit">Submit</button>
</form>
