.banner {
    background-image: url("https://images.sharefaith.com/images/3/1308865004650_1525/img_mouseover3.jpg");
    height: 250px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

body {
    background-color: #d4eef4;
    font-family: 'Cabin', sans-serif;
}

.add-new {
    padding-top: 20px;
}

.list {
    padding-left: 55px;
}

label{
    font-size: 16px;
    padding-top: 10px;
}

.index-button {
    padding-top: 50px;
}
